<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.zufang.dao.UserDao">
  
    <insert id="insert" parameterType="com.wl.zufang.entity.User">
        <selectKey keyProperty="id" order="AFTER" resultType="Long">
            SELECT last_insert_id()
        </selectKey>
        insert into user(username,telephone,email,password,sex,image,salt)
        values (#{username},#{telephone},#{email},#{password},#{sex},#{image},#{salt})
    </insert>
    
    <select id="getByTelephone" parameterType="String" resultType="com.wl.zufang.entity.User">
        select * from user where telephone = #{telephone}
    </select>
    
    <select id="getByUsername" parameterType="String" resultType="com.wl.zufang.entity.User">
        select * from user where username = #{username}
    </select>
    
    <update id="update" parameterType="com.wl.zufang.entity.User">
        update user 
        <set>
            <if test="username != null">
                `username` = #{username},
            </if>
            <if test="telephone != null">
                `telephone` = #{telephone},
            </if>
            <if test="email != null">
                `email` = #{email},
            </if>
            <if test="sex != null">
                `sex` = #{sex},
            </if>
            <if test="image != null">
                `image` = #{image}
            </if>
        </set>
        where id = #{id}
        
    </update>
</mapper>